@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar CSS */
.navbar {
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  box-shadow: 0 4px 6px -6px gray;
  background-color: #030303;
  /* Dark background color */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
  color: #ffefba;
  /* Brand text color */
  text-decoration: none;
}

.nav-link {
  font-weight: 400;
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffefba;
  /* Hover color */
}

.active {
  border-bottom: 2px solid #ffefba;
  color:yellow
  /* Active link indicator */
}

.search-form {
  display: flex;
  align-items: center;
flex-grow: 1;
}

.search-form input {
  border: none;
  border-radius: 5px;
  padding: 8px;
 width: 500px;
  
}

.search-form button {
  background-color: #ffefba;
  /* Search button color */
  border: none;
  border-radius: 5px;
  color: #1a1a1a;
  /* Text color on the button */
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.search-form button:hover {
  background-color: #ffe066;
  /* Hover color for the button */
}

/* =============================
==========footer============= */

.footer {
  color: white;
  padding: 25px;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}

.cat-btn:hover {
  background-color: #3d28b3;
  color: white;
}

/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}